/* Risk colors (icon) */
.risk-unknown {
    color: #7a7a7a;
}

.risk1 {
    color: #4A90E2;
}

.risk2 {
    color: #2E7D32;
}

.risk3 {
    color: #F9D423;
}

.risk4 {
    color: #F39C12;
}

.risk5 {
    color: #E74C3C;
}

.risk6 {
    color: #8B0000;
}

.risk-details-box {
    padding: 6px 12px;
    max-width: 300px;
}

.risk-level-label {
    color: #222;
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 2px;
}

.risk-message-label {
    color: #333;
    /* Gör att texten wrappar */
    max-width: 280px;
}